encryption = "age"

[git]
    autoCommit = true
    autoPush = true

[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1gnyryjpymrfp7ay482zpcurm9zmc86qqkwdvlamx7jfk04p3megs4jf25d"

[data]
    hoi = "dag"

{{ if lookPath "code" }}
# temporary, until I've switched back to VIM

[merge]
command = "bash"
args = [
    "-c",
    {{`"cp {{ .Target | quote }} {{ printf \"%s.base\" .Target | quote }} && code --new-window --wait --merge {{ .Destination | quote }} {{ .Target | quote }} {{ printf \"%s.base\" .Target | quote }} {{ .Source | quote }}",`}}
]
{{ end }}
