[user]
	name = Thijs Brobbel
	email = thijsbrobbel@gmail.com
[color]
	ui = true
[alias]
	co = checkout
	br = branch
	ci = commit -v
	ca = commit -va
	st = status
	lol = log --pretty=oneline --abbrev-commit --graph --decorate
	unstage = reset HEAD --
	last = log -1 HEAD
	stash-unapply = !git stash show -p | git apply -R
	unmv = "!f() { git mv $2 $1; }; f"
	update = commit -va --amend -Chead
[interactive]
	singlekey = true
