[user]
	name = Thijs Brobbel
	email = t.brobbel@coolblue.nl
[core]
	autocrlf = true
	editor = gvim --nofork '%*'
[alias]
	co = checkout
	br = branch
	ci = commit -v
	ca = commit -va
	st = status
	lol = log --pretty=oneline --abbrev-commit --graph --decorate
