set input-meta on
set convert-meta on
set output-meta on
set show-all-if-ambiguous on
set visible-stats on
set completion-ignore-case on

# F1
"\eOP": " --help\C-j"
# C-F1
"\eO5P": "\C-aman \C-j"
# F2
"\eOQ": " --help | grep -- "
# C-F2
"\eO5Q": " --help 2>\\&1 | grep -- "

"\M-s": "sudo !! "
"\C-\M-s": "\C-asudo \C-e\t"
"\M-\\": "^|^ 2>\\&1 |^"

# F3
"\eOR": dump-variables
# F4
"\eOS": dump-functions
