snippet if
	_if ${1:cond}
	_then
		${2:# code}
	_endif

snippet method
	_method ${1:`Filename()`}.${2:method_name}()
	_endmethod
	$

snippet test
	_method ${1:`Filename()`}.test_${2:name_of_test}()
		# setup
		${3:# code goes here}

		# exercise SUT

		# verify results

	_endmethod
	$

snippet pragma
	_pragma(classify_level=${1:basic}, topic={roos,bag})
