snippet if
	_if ${1:cond}
	_then
		${2:# code}
	_endif

snippet ifelse
	_if ${1:cond}
	_then
		${2:# code}
	_else
		${3:# code}
	_endif

snippet for
	_for ${2:iter} _over ${1:collection}
	_loop
		${3:# code}
	_endloop

snippet method
	_method ${1:`Filename()`}.${2:method_name}()
	_endmethod
	$

snippet pragma
	_pragma(classify_level=${1:basic}, topic={ls_data_quality})
