"$schema" = 'https://starship.rs/config-schema.json'

palette = 'gruvbox_dark'

format = """
[non-migrated modules:](dimmed) $all
[](fg:color_orange)\
$os\
$username\
[ ...hostname... ](bg:color_orange fg:color_foreground)\
[](fg:color_orange bg:color_yellow)\
[ ...directory... ](bg:color_yellow fg:color_foreground)\
[](fg:color_yellow bg:color_aqua)\
[](fg:color_aqua bg:color_blue)\
[](fg:color_blue bg:color_gray)\
[](fg:color_gray bg:color_gray_dark)\
$time\
[ ](fg:color_gray_dark)\
$line_break$character"""

[palettes.gruvbox_dark]
color_foreground = '#ffffff'
color_orange = '#d65d0e'
color_yellow = '#d79921'
color_aqua = '#689d6a'
color_blue = '#458588'
color_gray = '#665c54'
color_gray_dark = '#3c3836'
color_red_dark = '#f50808'

[status]
disabled = false
map_symbol = true
pipestatus = true
format = '[$symbol $status <$common_meaning>]($style) '

[cmd_duration]
min_time = 5_000

[shlvl]
disabled = false
threshold = 1

[time]
disabled = false
time_format = "%R"
format = '[  $time ]($style)'
# styling: just follow the styling of the bar
style = "fg:color_foreground bg:color_gray_dark"

[kubernetes]
disabled = false
symbol = "⛵"

[git_metrics]
disabled = false

[direnv]
disabled = false

[os]
disabled = false
# styling: just follow the styling of the bar
style = "fg:color_foreground bg:color_orange"

[username]
# styling: keep the active foreground, but make the background dark red, when root
style_user = "fg:color_foreground bg:color_orange"
style_root = "fg:color_foreground bold bg:color_red_dark"
format = '[ [$user]($style) ](bg:color_orange)'

[nodejs]
disabled = true

[gcloud]
disabled = true

[os.symbols]
Windows = "󰍲"
Ubuntu = "󰕈"
SUSE = ""
Raspbian = "󰐿"
Mint = "󰣭"
Macos = "󰀵"
Manjaro = ""
Linux = "󰌽"
Gentoo = "󰣨"
Fedora = "󰣛"
Alpine = ""
Amazon = ""
Android = ""
Arch = "󰣇"
Artix = "󰣇"
EndeavourOS = ""
CentOS = ""
Debian = "󰣚"
Redhat = "󱄛"
RedHatEnterprise = "󱄛"
Pop = ""
